services:
  proxy:
    image: itzg/mc-proxy:java25
    restart: unless-stopped
    ports:
      - "25565:25577" # minecraft java
      - "19132:19132/udp" # geyser mc/bedrock
    environment:
      TYPE: VELOCITY
      MEMORY: 500M
      PATCH_DEFINITIONS: /patches
      REPLACE_ENV_VARIABLES: true
      CFG_MOTD: ${MOTD}
      CFG_MAX_PLAYERS: ${MAX_PLAYERS}
      CFG_MYSQL_DATABASE: ${MYSQL_DATABASE}
      CFG_MYSQL_USER: ${MYSQL_USER}
      CFG_MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      CFG_REDIS_PASSWORD: ${REDIS_PASSWORD}
      MINECRAFT_VERSION: "1.21.10"
      MODRINTH_PROJECTS: |
        tab-was-taken
        luckperms
      PLUGINS: "https://github.com/NEZNAMY/VelocityScoreboardAPI/releases/download/1.1.6/VelocityScoreboardAPI.v1.1.6.jar"
      DOWNLOAD_EXTRA_CONFIGS: |
        plugins/luckperms/<https://raw.githubusercontent.com/LuckPerms/LuckPerms/refs/heads/master/velocity/src/main/resources/config.yml
        plugins/tab/<https://raw.githubusercontent.com/NEZNAMY/TAB/refs/heads/master/shared/src/main/resources/config/config.yml
        plugins/tab/<https://raw.githubusercontent.com/NEZNAMY/TAB/refs/heads/master/shared/src/main/resources/config/groups.yml
    volumes:
      - ./data/proxy-data:/server
      - ./forwarding.secret:/config/forwarding.secret:ro
      - ./server-icon.png:/config/server-icon.png
      - ./patches/proxy:/patches
      # ./data/proxy-plugins:/plugins
    container_name: proxy
    tty: true
    stdin_open: true
  traefik:
    image: "traefik:v3.5.1"
    container_name: "traefik"
    command:
      #- "--log.level=DEBUG"
      - "--api.dashboard=${TRAEFIK_DASHBOARD}"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"

      #- "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      #- "--entrypoints.web.http.redirections.entrypoint.scheme=https"

      - "--providers.docker.exposedbydefault=false"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=${SSL_EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    labels:
      - "traefik.enable=${TRAEFIK_DASHBOARD}"
      - "traefik.http.routers.traefik.rule=Host(`traefik.${DOMAIN}`)"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.entrypoints=${TRAEFIK_ENTRYPOINT}"
      - "traefik.http.services.traefik.loadbalancer.server.port=80"
      #- "traefik.http.routers.traefik.tls.certresolver=myresolver"
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - "./data/traefik-data:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
  main:
    image: itzg/minecraft-server:java25-graalvm
    restart: unless-stopped
    environment:
      EULA: true
      TYPE: "PAPER"
      VERSION: "1.21.10"
      MEMORY: "6G"
      ONLINE_MODE: false
      DIFFICULTY: ${DIFFICULTY}
      MAX_PLAYERS: ${MAX_PLAYERS}
      RCON_PASSWORD: ${RCON_PASSWORD}
      USE_AIKAR_FLAGS: true
      USE_MEOWICE_FLAGS: true
      USE_MEOWICE_GRAALVM_FLAGS: true
      ENABLE_COMMAND_BLOCK: ${ENABLE_COMMAND_BLOCK}
      BROADCAST_RCON_TO_OPS: true
      JVM_DD_OPTS: "disable.watchdog:true"
      ENABLE_AUTOPAUSE: ${ENABLE_AUTOPAUSE}
      DOWNLOAD_EXTRA_CONFIGS: |
        plugins/LuckPerms<https://raw.githubusercontent.com/LuckPerms/LuckPerms/refs/heads/master/bukkit/src/main/resources/config.yml
        plugins/squaremap<https://raw.githubusercontent.com/bairdel/minecraftserver/refs/heads/main/plugins/squaremap/config.yml
        plugins/DHSupport<https://gitlab.com/distant-horizons-team/distant-horizons-server-plugin/-/raw/develop/src/main/resources/config.yml
      #VANILLATWEAKS_SHARECODE: "Ef0CJX,pmV6sg"
      #MODRINTH_PROJECTS: "spawn:2.4.1,vaultunlocked:2.7.0,viaversion:5.1.1,invsee++:0.29.6,squaremap:2WtLC9mv,tabtps:Q1sxIgnH,simple-voice-chat:bukkit-2.5.25,chunky:1.4.28,worldedit:ecqqLKUO,worldguard:7.0.12,datapack:terralith:tnavs2WP,datapack:explorify:1.6.2,datapack:incendium:aBrsXiTU,datapack:hearths:1.0.1,datapack:tidal-towns:HbNg7Lhz,datapack:nullscape:SFDfNp0O,datapack:dungeons-and-taverns:v4.4.4,datapack:hopo-better-mineshaft:1.2.8,datapack:hopo-better-underwater-ruins:1.2.1,datapack:dungeons+:1.9.0b,datapack:cherry-villages:1.0.8,datapack:qraftyfied:9.1.1"
      MODRINTH_PROJECTS: |
        worldguard
        worldedit
        luckperms
        tabtps
        tab-bridge
        chunky
        distant-horizons-support
        squaremap
        datapack:nullscape
        datapack:dungeons-and-taverns
        datapack:terralith
        datapack:explorify
        datapack:incendium:gBoadsBv
        datapack:hopo-better-mineshaft
        datapack:hopo-better-underwater-ruins
        datapack:hopo-better-ruined-portals
        datapack:dungeons+
        datapack:qraftys-japanese-villages
        datapack:qraftys-jungle-villages
        datapack:qraftyfied
        datapack:hearths
        datapack:structory
        datapack:lukis-grand-capitals
        datapack:dungeons-and-taverns-stronghold-overhaul
        datapack:unnamed-desert
        datapack:wabi-sabi-structures
#TODO        towny
#        datapack:cherry-villages
#        datapack:tidal-towns
      SPAWN_PROTECTION: "0"
      SIMULATION_DISTANCE: ${SIMULATION_DISTANCE}
      VIEW_DISTANCE: ${RENDER_DISTANCE}
      REPLACE_ENV_VARIABLES: true
      PATCH_DEFINITIONS: /patches
      CFG_FORWARDING_SECRET_FILE: /secret/forwarding.secret
      CFG_MYSQL_DATABASE: ${MYSQL_DATABASE}
      CFG_MYSQL_USER: ${MYSQL_USER}
      CFG_MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      CFG_REDIS_PASSWORD: ${REDIS_PASSWORD}
      CFG_WORLDGEN_IO_THREADS: ${WORLDGEN_IO_THREADS}
      CFG_WORLDGEN_WORKER_THREADS: ${WORLDGEN_WORKER_THREADS}
      CFG_ANTI_XRAY_ENGINE_MODE: ${ANTI_XRAY_ENGINE_MODE}
      CFG_HARD_DESPAWN_RANGE: ${HARD_DESPAWN_RANGE}
      CFG_SOFT_DESPAWN_RANGE: ${SOFT_DESPAWN_RANGE}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    # ports:
    # - "24454:24454/udp" # voicechat
    # - "8081:8080" # squaremap
    # - "7867:7867" # mc dash
    labels:
      - "traefik.enable=true"

      # Router for Squaremap
      - "traefik.http.routers.squaremap.rule=Host(`map.${DOMAIN}`)"
      - "traefik.http.routers.squaremap.entrypoints=${TRAEFIK_ENTRYPOINT}"
      #- "traefik.http.routers.squaremap.tls.certresolver=myresolver"
      - "traefik.http.routers.squaremap.service=squaremap-service" # Explicit linking
      - "traefik.http.services.squaremap-service.loadbalancer.server.port=8080"

    #   # Router for McDash
    #   - "traefik.http.routers.mcdash.rule=Host(`panel.${DOMAIN}`)"
    #   - "traefik.http.routers.mcdash.entrypoints=websecure"
    #   - "traefik.http.routers.mcdash.tls.certresolver=myresolver"
    #   - "traefik.http.routers.mcdash.service=mcdash-service" # Explicit linking
    #   - "traefik.http.services.mcdash-service.loadbalancer.server.port=7867"
    volumes:
      - ./data/main-data:/data
      # - ./data/mc-conf:/config
      # - ./mc-plugins:/plugins
      - ./patches/main:/patches
      - ./forwarding.secret:/secret/forwarding.secret:ro
      - /etc/timezone:/etc/timezone:ro
    container_name: main
    tty: true
    stdin_open: true
  lobby:
    image: itzg/minecraft-server:java25-graalvm
    restart: unless-stopped
    environment:
      EULA: true
      TYPE: "PAPER"
      VERSION: "1.21.10"
      MEMORY: "2G"
      ONLINE_MODE: false
      DIFFICULTY: peaceful
      MAX_PLAYERS: ${MAX_PLAYERS}
      RCON_PASSWORD: ${RCON_PASSWORD}
      USE_AIKAR_FLAGS: true
      USE_MEOWICE_FLAGS: true
      USE_MEOWICE_GRAALVM_FLAGS: true
      ENABLE_COMMAND_BLOCK: ${ENABLE_COMMAND_BLOCK}
      BROADCAST_RCON_TO_OPS: true
      JVM_DD_OPTS: "disable.watchdog:true"
      ENABLE_AUTOPAUSE: ${ENABLE_AUTOPAUSE}
      MODRINTH_PROJECTS: |
        voidworld
        customnpcs
        worldguard
        worldedit
        luckperms
        tabtps
        tab-bridge
      DOWNLOAD_EXTRA_CONFIGS: |
        plugins/LuckPerms<https://raw.githubusercontent.com/LuckPerms/LuckPerms/refs/heads/master/bukkit/src/main/resources/config.yml
      SPAWN_PROTECTION: "0"
      REPLACE_ENV_VARIABLES: true
      PATCH_DEFINITIONS: /patches
      CFG_FORWARDING_SECRET_FILE: /secret/forwarding.secret
      CFG_MYSQL_DATABASE: ${MYSQL_DATABASE}
      CFG_MYSQL_USER: ${MYSQL_USER}
      CFG_MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      CFG_REDIS_PASSWORD: ${REDIS_PASSWORD}
      WORLD: "/worlds/lobby"
      FORCE_WORLD_COPY: true
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./data/lobby-data:/data
      # - ./data/mc-conf:/config
      # - ./mc-plugins:/plugins
      - ./patches/lobby:/patches
      - ./forwarding.secret:/secret/forwarding.secret:ro
      - /etc/timezone:/etc/timezone:ro
      - ./worlds/lobby:/worlds/lobby
    container_name: lobby
    tty: true
    stdin_open: true
  db:
    image: mariadb:12.0.2
    restart: unless-stopped
    command: --lower_case_table_names=1
    container_name: db
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: yes
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - ./data/db-data:/var/lib/mysql
  redis:
    image: redis:8.2.1-alpine
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./data/redis-data:/data
    container_name: redis
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    tty: true
    stdin_open: true
  db-backup:
    image: fradelg/mysql-cron-backup
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./data/db-backup:/backup
    environment:
      MYSQL_HOST: db
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASS: ${MYSQL_PASSWORD}
      MYSQL_DB: ${MYSQL_DATABASE}
      MAX_BACKUPS: 32
      INIT_BACKUP: 1
      # Every day at 03:00
      CRON_TIME: 0 3 * * *
      GZIP_LEVEL: 9
      TZ: Europe/Berlin
    container_name: db-backup
  main-backup:
    image: itzg/mc-backup
    depends_on:
      main:
        condition: service_healthy
    environment:
      BACKUP_INTERVAL: "24h"
      PRUNE_BACKUPS_DAYS: 30
      RCON_HOST: "main"
      RCON_PASSWORD: ${RCON_PASSWORD}
      EXCLUDES: ".cache,cache,libraries,logs,versions,backups"
    volumes:
      - ./data/main-data:/data:ro
      - ./data/main-backups:/backups
